.ad-img {
  width: 100vw;
  height: 52vh;
}
.product-icon {
  width: 25rem;
  margin: 1rem 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
}

.profile {
  font-size: 2.75rem;
  margin-left: 2rem;
}
.nav-content {
  display: flex;
  gap: 2.75rem;
}
.single-product {
  display: flex;
  flex-direction: column;
}
.all-products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 4rem 14rem;
  margin: 2rem;
}
.slider {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 2%;
}
.text {
  display: none;
}
.product {
  width: 11rem;
  margin: 1rem 0;
}
.product-name {
  display: none;
}
.btn {
  background-color: transparent;
  font-size: 2rem;
  border: none;
  color: white;
}
