.ad-img {
  width: 100vw;
  height: 38vh;
}
.product-icon {
  width: 25rem;
  margin: 1rem 0;
}
.single-product {
  display: flex;
  flex-direction: column;
}
.all-products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3rem 15rem;
  margin: 2rem;
}
.slider {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 2%;
}
.text {
  display: none;
}
.product {
  width: 11rem;
  margin: 1rem 0;
}
