.user-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}
.user-detail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gender-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
