.navbar {
  background-color: rgb(35, 22, 219);
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
}

.cart-icon {
  font-size: 2rem;
  color: red;
}
span {
  position: relative;
  left: -45%;
  top: -1rem;
}
